# Python
**/.venv/
**/__pycache__/
*.dat
data.csv
**/.pixi/

# Dia
*~

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc

!background.pdf

# MATLAB
*.asv
